<header>
    <nav>
      <!-- <div id="main">
      </div> -->
      <button class="openbtn" onclick="openNav()">&#9776;</button>
      <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/posts">Home</a>
        <a href="/posts">Post</a>
        <a href="/users">Users</a>
        <a href="/users/create">+New User</a>
      </div>
      <h1 class="main-header">MyFace</h1>
      

    </nav>
</header>